@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cacher la scrollbar pour les carousels */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
